.main-div {
    margin:50px;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    width: 50%;
    min-width: 300px;
    justify-content: space-around;
    align-items: center;
    align-self: center;
}

.top-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 20px;
}

.each-div input {
    margin-top: 10px;
    border-radius: 10px;
    outline:none;
    border: 1px solid gray;
    height: 30px;
    padding:10px;
}

.btn {
    padding:10px 20px 10px 20px;
    background-color: purple;
    color:white;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}